<div class="center jumbotron">
  <h1>Welcome to my recipies App</h1>
  <h2>This is the home page for the professional ruby whatever...</h2>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="midrow">
    View Recipes as Guest User
    </h3>
    <p>Browse and view as guest and sign up later</p>
    <p><%= link_to "Browse Recipes", "", class:"btn btn-warning btn-small" %></p>
  </div></div></div>
    <div class="col-md-4">
    <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="midrow">
    View Recipes as Guest User
    </h3>
    <p>Browse and view as guest and sign up later</p>
    <p><%= link_to "Browse Recipes", "", class:"btn btn-warning btn-small" %></p>
  </div></div></div>
    <div class="col-md-4">
    <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="midrow">
    View Recipes as Guest User
    </h3>
    <p>Browse and view as guest and sign up later</p>
    <p><%= link_to "Browse Recipes", "", class:"btn btn-warning btn-small" %></p>
  </div></div></div>
   
</div>